<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" type="image/png" sizes="16x16" href="">
	<title>The News - Favourites</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800|Roboto" rel="stylesheet">
	<script src="https://use.fontawesome.com/ba0ea1e572.js"></script>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

	<header class="fluid-container header"> <!-- PREHEADER START -->
		<div class="container header_inner"> <!-- PREHEADER_INNER START -->

			<nav class="navbar fixed-top bg-faded justify-content-center"> <!-- NAV START -->

				<ul class="nav">
					<li class="nav-item">
						<a class="nav-link" href=".">World News</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="./favourite">Favourites</a>
					</li>
				</ul>

			</nav> <!-- NAV END -->

		</div> <!-- PREHEADER_INNER END /// -->
	</header> <!-- PREHEADER END /// -->


	<!-- jQuery first, then Tether, then Bootstrap JS. -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" ></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" ></script>
	<script src="/javascripts/main.js"></script>
</body>
</html>
