<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>


    <header class="fluid-container preheader"> <!-- PREHEADER START -->
      <div class="container preheader_inner"> <!-- PREHEADER_INNER START -->

        <nav class="navbar fixed-top bg-faded justify-content-center" id="mainNav"> <!-- NAV START -->

          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link scroll" href="#m">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link scroll" href="#">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link scroll" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link scroll" href="#">Contact</a>
            </li>
          </ul>

        </nav> <!-- NAV END -->


        <div class="container-fluid">
          <div class="container">

            <div class="row">
              <div class="col-12" id="newsData">

              </div>
            </div>



          </div>
        </div>








      </div> <!-- PREHEADER_INNER END /// -->
    </header> <!-- PREHEADER END /// -->




















    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
