body {
  font-family: 'Roboto', sans-serif;
  padding: 7rem 0;
}

a, a.url {
  color: #bb1919;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

p {
  color: #767879;
  line-height: 25px;
  font-size: 14px;
}

/* MENU */
.navbar {
	background-color: #bb1919;
}
.nav-link {
	color: #ffffff !important;
  letter-spacing: 1px;
  font-size: 1.5rem;
}
.nav-link:hover {
  color: #ffffff;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  color: #bb1919;
  font-size: 2rem;
  margin-top: 0.5rem;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  color: #bb1919;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  color: #222;
  font-weight: bolder;
  text-decoration: none;
  margin-top: 2rem;
  line-height: 30px;
  font-size: 1.2rem;
}

li {
  list-style: none;
}

li.newslink {}

.published {
  margin-bottom: 2rem;
  color: #222;
}

.articleImage {
   height: 20vh;
   background-position: center;
   background-size: cover;
   border: solid 3px #eeeded;
}

/* articles */
.articles {
  height: 20vh;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.top-stories {
  cursor: pointer;
  margin-bottom: 2rem;
  color: #e98787;
}


/* Feed */
#sourceContainer {
  padding-right: 2rem;
}
#articlesContainer {
  height: 200vh;
  padding-left: 1rem;
  padding: 1.5rem;
  overflow: scroll;
  background-color: #f8f6f6;
  border: solid 10px #eeeded;
  right: 0;
}

.hide {
  display: none !important;
}
